<footer role="contentinfo" class="footer site-footer">
    <div class="container{% if fluid is defined %}-fluid{% endif %}">
        <div class="row">
            <div class="col-md-9">

                © VisionApps, s.r.o. {{ 'now'|date('Y') }}
                <span class="footer-divider">|</span>
                Built on <a href="http://www.bootstrap-ui.com" target="_blank">Bootstrap UI</a>

            </div>
            <div class="col-md-3">

                <a href="http://www.visionapps.cz" target="_blank" class="footer-author" title="Created by VisionApps">
                    <img src="{{ asset('images/visionapps.svg') }}" width="90" height="16" alt="VisionApps" />
                </a>

            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</footer>
