{% extends '_layouts/default.html.twig' %}

{% block header %}
    <section class="section-header">
        <div class="container">

            <h1 class="section-header-title">
                <span class="glyphicon glyphicon-home offset-right icon-shift-down text-muted" aria-hidden="true"></span>
                Dashboard
            </h1>

        </div>
    </section>
{% endblock %}

{% block body %}
    <p>Here goes the content.</p>
{% endblock %}
