<!doctype html>
<html lang="{{ locale|split('_')[0] }}">
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//themes.googleusercontent.com" />
    <link rel="dns-prefetch" href="https://www.google-analytics.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% filter striptags|trim %}{% block title %}Bootstrap UI Demo{% endblock %}{% endfilter %}</title>
    <meta name="description" content="Bootstrap UI Design Pattern Library" />
    <meta name="author" content="VisionApps, s.r.o. [www.visionapps.cz]" />

    {% block styles %}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/main.min.css') }}" type="text/css" />
    {% endblock %}

    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAAEEfUpiAAAACXBIWXMAAAsSAAALEgHS3X78AAAB5klEQVRYw82Wv0vDQBTHPwmddNFBV5u1ONT/wP4FbXCxdRJEnAodhYJKB0fRSURREVsXaYqDWxG3QsEO4tp01UEXXePSC7G5pmkuWr/b/Xjf9+577707DYBs3qEPXQwcq9qfGIBvQvPauzscq6rCEWgheB2ryvJiSk4JsHdzy87qSjgXGtl8F0gOWTf1gEWAemIwQJc6V/AHqeUK7oJAQnbMj88v+QZh7XUnZRhL6lE6jISuYjz0Lr0JBbC8mHLnRBIEEgTh4flFjWC3n2WRCbyXHOqawohoqhBoZPM5oB7B1qZRM1SPYOuoIalK8LOahlWUwPrRMRfNx3B5IKp/dm2DTrcHwHlxK1wtDCbOUml7vGLyYmZ6iqeDfQA3kkANgrQ4vLsPH4HQQMsVXOEiaSDUj6yBrIQjayCLJJZyZpIEpko/iAOmPkHnAHWdCSMRZlNQi5LBarW5bD5itdqh3gQn7gC8nczYLPqewrEVkPUZ6fswP0f35PBHJ0wbSd9vINY6HK3Cp3oORLmSTrdHplwJlP9XFUgbC7xfn5Kcn4tfgWE5APB0sE/aWHDH58UtMuXK3ylgv779jxwQZVg6u4o/gFFOrVabvZtbnxqRG9FvQgfsCfq3dRo1o//H/8tAbMCkUTO+AZMSviJnMSU2AAAAAElFTkSuQmCC" />

    {% if tracking.google_analytics is not empty %}
        <script src="{{ asset(tracking.google_analytics) }}"></script>
    {% endif %}
</head>
<body class="site{% if bodyClass is defined %} {{ bodyClass }}{% endif %}">

{% block sublayout %}{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>
